<div class="about-me">
  <div class="about-me__header">
    <div class="about-me__intro">
      <h1 class="text-center">
        Nathan Mc Grath
      </h1>

      <h2 class="text-center">
        Web Developer
      </h2>

      <div class="about-me__intro-caption text-center">
        "I eat web technologies for breakfast..."
      </div>
    </div>

    <div class="thumbnail">
      <img
        class="thumbnail__image"
        src="../../assets/images/selfie.jpg"
        alt="Selfie">
    </div>
  </div>

  <div class="about-me__main">
    <h1 class="text-center about-me__title">About</h1>

    <div class="about-me__main-inner">
      <h2>Who I am</h2>

      <div class="about-me__body">
        I am a self-motivated and highly driven full stack web developer with
        2 years professional experience in building highly functional cloud based
        applications. I have worked with startups in their earliest stages of
        development and enterprise companies with fully fledged software suites.
      </div>

      <div class="about-me__body">
        My experience across the board of cloud technologies, in combination with
        my drive, motivation and self starter attitude allows me to work extremely
        well on my own. But I thrive most of all in a team environment with other
        developers, where ideas can be born and grow from a collection of minds
        collaborating together for a common goal.
      </div>

      <div class="about-me__body">
        In a nutshell, my goal in life is to make computers behave intelligently.
        Whether that be in relation to cloud applications, games, gaming engines,
        physics & biology simulations, or artificial intelligence applications.
        Whatever it is that I'm doing, my single most obvious passion that carries
        through is to make software intuitive and work as we would expect it to.
      </div>
    </div>
  </div>
</div>
