@import 'sizes';
@import 'colors';
@import 'shapes';
@import 'elevation';
@import 'responsive-mixins';

$y-displacement: map-get($sizers, 15);

.about-me {
  &__header {
    position: relative;
    background: #FFF;
    overflow: hidden;

    @include gt-sm {
      padding-left: 140px;
    }

    &:after {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.15;
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-image: url('../../assets/images/hero.jpg');
    }
  }

  &__intro {
    padding: map-get($sizers, 8) 0;
    position: relative;
    z-index: 2;
  }

  &__intro-caption {
    font-style: italic;
  }

  &__main {
    @include floating-card();

    position: relative;
    z-index: 1;

    padding: $y-displacement 0 map-get($sizers, 2) 0;
    margin-bottom: -$y-displacement * 1.5;
    transform: translateY(-$y-displacement * 1.5);
    text-align: center;

    @include gt-sm {
      padding-bottom: $y-displacement;
      padding: $y-displacement 140px;
    }
  }

  &__main-inner {
    @include gt-sm {
      padding-left: 140px;
    }
  }

  &__title {
    position: relative;
    z-index: 2;

    @include gt-sm {
      margin-left: 140px;
    }
  }

  &__subtitle {
    @include floating-card-header();
  }

  &__body {
    margin: auto;
    padding: map-get($sizers, 1);

    &:not(:last-child) {
      margin-bottom: map-get($sizers, 2);
    }
  }
}

.thumbnail {
  @include circle(300px);
  @include elevation(3);

  position: relative;
  z-index: 2;

  overflow: hidden;
  margin: 50px auto;

  &__image {
    position: absolute;
    left: 50%;
    top: 60%;
    height: 150%;
    width: auto;
    transform: translate(-50%,-50%);
  }
}
