@import 'sizes';
@import 'box-shadows';
@import 'colors';
@import 'shapes';

.about-me {
  &__main {
    @include floating-card;

    margin: map-get($sizers, 1);
    text-align: center;
  }

  &__title {
    @include floating-card-header;
  }

  &__body {
    margin: auto;
    padding: map-get($sizers, 1);
    max-width: 800px;

    &:not(:last-child) {
      margin-bottom: map-get($sizers, 2);
    }
  }
}

.thumbnail {
  @include circle(300px);
  @extend .card-2;

  position: relative;
  overflow: hidden;
  margin: 50px auto;

  &__image {
    position: absolute;
    left: 50%;
    top: 60%;
    height: 150%;
    width: auto;
    transform: translate(-50%,-50%);
  }
}
