<div class="container nmg-experience">
  <h1 class="text-center">Experience</h1>
  <h2 class="text-center">
    My journey through education and employment
  </h2>
</div>

<nmg-timeline>
  <nmg-timeline-event side="left">
    <div date>May '17 - Present</div>
    <div company>Fleetmatics</div>
    <div header><h3>Junior Angular Developer</h3></div>

    <div body>
      In Fleetmatics, I have developed reusable UI components as part of a kanban
      team in preparation for a transition to the Angular framework from legacy
      technologies. Laying the foundation for this transition, I have facilitated the
      development of new front end standards for the company with respect to
      code style, low level architecture, project structure, build pipelines and
      development approach. I have helped educate my colleagues in modern web
      development and increased their awareness of related design patterns, common pitfalls,
      technologies and the more advanced features of the Angular framework along with
      other assisting technologies such as SASS, TypeScript, RxJS, Webpack and Gulp.
      In my time in Fleetmatics, I placed third with my team in a company wide hackathon
      and won the "Rookie of the Year Award" for 2017.
    </div>
  </nmg-timeline-event>

  <nmg-timeline-event side="right">
    <div date>Jun '15 - Present</div>
    <div company>Self Employed</div>
    <div header><h3>Freelance Web Developer</h3></div>

    <div body>
      As a freelance web developer, I have worked with many startups and small
      scale businesses of various sizes. Working with clients from ideation
      through to implementation, deployment and maintenance. Continuous delivery,
      along with a flexible and agile development approach are integral to my
      philosophy in delivering contracted software. Customising solutions on
      a per business basis has helped my clients to realise their vision, or
      extend their current infrastructure into the cloud industry.
    </div>
  </nmg-timeline-event>

  <nmg-timeline-event side="left">
    <div date>Aug '16 - Jan '18</div>
    <div company>Property Basecamp</div>
    <div header><h3>Co-Founder, Lead Developer</h3></div>

    <div body>
      Property Basecamp is an upcoming online platform that enables scaling
      enterprises to source long term rental accommodation for their newly
      relocating employees. As co-founder, I have played an integral role in
      developing and designing the overall model, both from a business and a
      system point of view. As lead developer, I have designed and implemented
      all technical development strategy to date. This has included responsibility
      in all areas of development: including IT, Development Operations,
      Systems Analysis and Software Development.
    </div>
  </nmg-timeline-event>


  <nmg-timeline-event side="right">
    <div date>Sep '14 - May '17</div>
    <div company>Waterford Institute of Technology</div>
    <div header><h3>Student, Applied Computing</h3></div>

    <div body>
      I graduated college with a first class honours in Applied Computing from
      the Waterford Institute of Technology. Code modules which I studied in
      this course include Enterprise Development, Component Development,
      Distributed Systems, Database Systems, Internetworking, Artificial
      Intelligence, Formal Specifications, Applied Cryptography and Algorithms
      & Data Structures. My final year project involved automating the processing
      of audio via remotely located hardware through the cloud,
      "Musical Hardware as a Service".
    </div>
  </nmg-timeline-event>

  <nmg-timeline-event side="left">
    <div date>Jan '16 - Aug '16</div>
    <div company>Travelport Digital (Formerly MTT)</div>
    <div header>
      <h3>Intern Mobile Web Developer</h3>
    </div>

    <div body>
      During my internship at MTT, I played an intrisic role within a large
      development team in delivering a globally scaled product. We worked as
      an extremely fast paced scrum team, using refined extreme programming
      techniques and a strong collaborative team ethic. Through my time there
      I gave various tech talks on topics such as Typescript and RxJS, took
      part in company wide hackathons and presented sprint work to our customers
      on a regular basis.
    </div>
  </nmg-timeline-event>
</nmg-timeline>
