<div class="container">
  <h1 class="text-center">Experience</h1>
  <h2 class="text-center">
    My journey through education and employment
  </h2>
</div>

<nmg-timeline>
  <nmg-timeline-event side="left">
    <div date>May '17 - Present</div>
    <div company>Fleetmatics</div>
    <div header><h3>Junior Angular Developer</h3></div>

    <div body>
      Body content
    </div>
  </nmg-timeline-event>

  <nmg-timeline-event side="right">
    <div date>Aug '16 - Present</div>
    <div company>Property Basecamp</div>
    <div header><h3>Co-Founder, Lead Developer</h3></div>

    <div body>
      Body content
    </div>
  </nmg-timeline-event>

  <nmg-timeline-event side="left">
    <div date>Jun '15 - Present</div>
    <div company>Self Employed</div>
    <div header><h3>Freelance Web Developer</h3></div>

    <div body>
      Body content
    </div>
  </nmg-timeline-event>

  <nmg-timeline-event side="right">
    <div date>Sep '14 - May '17</div>
    <div company>Waterford Institute of Technology</div>
    <div header><h3>Student, Applied Computing</h3></div>

    <div body>
      Body content
    </div>
  </nmg-timeline-event>

  <nmg-timeline-event side="left">
    <div date>Jan '16 - Aug '16</div>
    <div company>Travelport Digital (Formerly MTT)</div>
    <div header>
      <h3>Intern Mobile Web Developer</h3>
    </div>

    <div body>
      Body content
    </div>
  </nmg-timeline-event>

  <nmg-timeline-event side="right">
    <div date>Jan '16 - Jun '16</div>
    <div company>Coder Dojo</div>
    <div header><h3>Volunteer, Mentor</h3></div>

    <div body>
      Body content
    </div>
  </nmg-timeline-event>
</nmg-timeline>
