/**
 * Global Sizes
 */
$atomic-sizer: 8px;
$border-radius: $atomic-sizer / 2;
$border-width: $atomic-sizer / 2;

$sizers: (
  1: $atomic-sizer,
  2: $atomic-sizer * 2,
  3: $atomic-sizer * 3,
  4: $atomic-sizer * 4,
  5: $atomic-sizer * 5,
  6: $atomic-sizer * 6,
  7: $atomic-sizer * 7,
  8: $atomic-sizer * 8,
  9: $atomic-sizer * 9,
  10: $atomic-sizer * 10,
  11: $atomic-sizer * 11,
  12: $atomic-sizer * 12,
  13: $atomic-sizer * 13,
  14: $atomic-sizer * 14,
  15: $atomic-sizer * 15,
  16: $atomic-sizer * 16,
  17: $atomic-sizer * 17,
  18: $atomic-sizer * 18,
  19: $atomic-sizer * 19,
  20: $atomic-sizer * 20
);

/**
 * Header Sizes
 */
$header-size: 60px;
$header-elem-height: $header-size - $header-size / 4;
$header-elem-width: $header-size * 3;

$hero-size: $header-size * 8;

/**
 * Navigation Sizes
 */
$list-element-height: 100px;
