@import 'sizes';
@import 'box-shadows';
@import 'responsive-mixins';
@import 'colors';
@import 'shapes';

$event-horizontal-offset: map-get($sizers, 4);
$event-padding: map-get($sizers, 4);

.nmg-timeline-event-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: map-get($sizers, 1) $event-padding;

  @include gt-sm {
    &--left {
      flex-direction: row-reverse;
    }

    &--right {
      flex-direction: row;
    }
  }
}

.nmg-timeline-event-details {
  flex-basis: 50%;

  &--right,
  &--left {
    text-align: left;
  }

  &--right {
    @include gt-sm {
      text-align: right;
    }
  }

  &__date {
    font-weight: bold;
    font-size: 28px;
  }

  &__company {
    font-size: 24px;
  }

  &__inner {
    margin-left: $event-padding;

    &--right {
      @include gt-sm {
        margin-left: 0;
        margin-right: $event-padding;
      }
    }
  }
}

.nmg-timeline-event {
  flex-basis: 50%;
  position: relative;

  &__inner {
    @include floating-card;

    margin-left: $event-padding;

    &--left {
      @include gt-sm {
        margin-left: 0;
        margin-right: $event-padding;
      }
    }
  }

  &__header {
    @include floating-card-header;
  }

  &__body {
    padding: map-get($sizers, 2);
    min-height: 200px;
  }
}
