@import 'responsive-mixins';

.nmg-skills {
  @include gt-sm {
    margin-left: 140px;
  }
}

.nmg-skills__content {
  display: flex;
  flex-wrap: wrap;
}

.nmg-skill {
  flex-basis: 50%;

  @include gt-sm {
    flex-basis: 25%;
  }

  &__inner {
    padding: 8px;
  }
}
