@import 'sizes';
@import 'responsive-mixins';

.nmg-skills {
  @include gt-sm {
    margin-left: 200px;
  }
}

.nmg-skills__header {
  margin-top: map-get($sizers, 4);
  text-decoration: underline;
}

.nmg-skills__content {
  display: flex;
  flex-wrap: wrap;
}

.nmg-skill {
  flex-basis: 50%;

  @include gt-sm {
    flex-basis: 25%;
  }

  &__inner {
    padding: 8px;
  }
}
