<div class="about-site">
  <h1 class="text-center">About This Site</h1>

  <div class="about-site__content">
    <h2 class="text-center about-site__title">Pop Quiz Trivia</h2>

    <div class="about-site__entry">
      <div class="about-site__entry-bullet"></div>

      <div class="about-site__entry-text">
        No CSS frameworks were harmed in the making of this site (Unless you count
        <a href="https://necolas.github.io/normalize.css/" target="_blank" rel="noopener">Normalize.css</a>).
      </div>
    </div>

    <div class="about-site__entry">
      <div class="about-site__entry-bullet"></div>

      <div class="about-site__entry-text">
        This site was built with blood, sweat and
        <a href="https://angular.io/" target="_blank" rel="noopener">Angular 4</a>.
      </div>
    </div>

    <div class="about-site__entry">
      <div class="about-site__entry-bullet"></div>

      <div class="about-site__entry-text">
        Your first impression of this page was rendered entirely by a
        <a href="https://universal.angular.io/" target="_blank" rel="noopener">NodeJS Express server</a>.
        Pretty fast, wasn't it?
      </div>
    </div>

    <div class="about-site__entry">
      <div class="about-site__entry-bullet"></div>

      <div class="about-site__entry-text">
        You can find all the source code for this site over on my
        <a href="https://github.com/AnimaMundi/nathan-mcgrath.com" target="_blank" rel="noopener">Github</a>.
      </div>
    </div>

    <div class="about-site__entry">
      <div class="about-site__entry-bullet"></div>

      <div class="about-site__entry-text">
        This site is deployed by a fully automated pipeline from Github, through Jenkins, AWS S3, AWS CodeDeploy and onto an AWS EC2 instance.
      </div>
    </div>

    <div class="about-site__entry">
      <div class="about-site__entry-bullet"></div>

      <div class="about-site__entry-text">
        Check out this site's results on
        <a
          href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fnathan-mcgrath.com%2F&tab=desktop"
          target="_blank" rel="noopener">
          Google's Pagespeed Insights</a>.
      </div>
    </div>

    <div class="about-site__entry">
      <div class="about-site__entry-bullet"></div>

      <div class="aboute-site__entry-text">
        And if you've got time, check out the results on
        <a
          href="https://developers.google.com/web/tools/lighthouse/"
          target="_blank" rel="noopener">
          Google's Lighthouse</a>.
      </div>
    </div>
  </div>
</div>
