<nav class="nmg-navigation">
  <div
    class="nmg-navigation__indicator-bar"
    [style.height]="getIndicatorBarHeight()"
  ></div>

  <div
    class="nmg-navigation__indicator"
    [style.height]="getIndicatorHeight()"
    [style.top]="getIndicatorTop()"
  ></div>

  <ul class="nmg-navigation__list">
    <nmg-navigation-link target="about">About</nmg-navigation-link>
    <nmg-navigation-link target="skills">Skills</nmg-navigation-link>
    <nmg-navigation-link target="experience">Experience</nmg-navigation-link>
    <nmg-navigation-link target="my-hobbies">My Hobbies</nmg-navigation-link>
    <nmg-navigation-link target="contact-me">Contact Me</nmg-navigation-link>
  </ul>
</nav>
